{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="10" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={% static "newsapp/css/styles.css" %}>
    <title>Document</title>
</head>
<body>
    {% block content %} {% endblock content %}
    <script src="{% static 'newsapp/js/news.js' %}"></script>
</body>
</html>